<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pagination">Pagination</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tdf">Template Drive Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rfv">Reactive Form Validation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/drfc">Dynamic Reactive Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/multialert">Multi - Alert</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </span>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>

  <div class="container text-center my-3">
      <div *ngFor="let message of messages" class="alert alert-sm alert-info">{{message.text}}</div>
  </div>
</div>


